<div class="container BudgetFocus d-flex flex-column">
  <div class="container">
    <h1 class="focus-header">Work Breakdown Structure</h1>
    <div class="container focus-data">
      <p>1 - {{data?.wbs.category}}</p>
      <p>1.1 - {{data?.wbs.account_Description}}</p>
      <p>1.1.1 - {{data?.wbs.scope_Description}}</p>
    </div>
  </div>
  <div class="container">
    <h1 class="focus-header">Comments</h1>
    <div class="container p-2" style="border: 1px black solid;">
      <p class="focus-data">{{data?.comment}}</p>
    </div>

  </div>
</div>

