<div class="Overview">
  <div class="container ShowcaseHeader">
    <app-title [componentTitle]="title"></app-title>
    <app-kpi [metrics]="KPI"></app-kpi>
    <app-searchbar></app-searchbar>
  </div>
  <div class="container d-flex m-0 p02 justify-content-between" style="min-width: 100%;">
    <div class="container m-0 p-0 d-flex">
      <button class="btn btn-primary btn-sm m-1" (click)="goBack()"><i class="fa-solid fa-circle-arrow-left"></i> Back</button>
    </div>
    <div class="container d-flex m-0 p-0 justify-content-end">
      <button class="btn btn-primary btn-sm m-1" (click)="navToProjectOverview()">Project Overview</button>
      <button class="btn btn-primary btn-sm m-1" (click)="navToAddBudgetLineItem()"><i class="fas fa-regular fa-circle-plus"></i> Add Item</button>
      <button class="btn btn-success btn-sm m-1"><i class="fa-solid fa-download"></i> Import</button>
    </div>
  </div>
  <div class="container ShowcaseWindow">
    <table class="table" style="text-align:center;">
      <thead>
        <tr>
          <th scope="col">Gate</th>
          <th scope="col">Coding</th>
          <th scope="col">Category</th>
          <th scope="col">Account Name</th>
          <th scope="col">Scope Activity / Description</th>
          <th scope="col">Area</th>
          <th scope="col">Unit</th>
          <th scope="col">Qty</th>
          <th scope="col">$ per Unit</th>
          <th scope="col">Tax (%)</th>
          <th scope="col">TOTAL Cost</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of budgetLineItems">
          <td>{{x.gate}}</td>
          <td>{{x.wbs.coding}}</td>
          <td>{{x.wbs.category}}</td>
          <td>{{x.wbs.account_Description}}</td>
          <td>{{x.wbs.scope_Description}}</td>
          <td>{{x.area?.description}}</td>
          <td>{{x.unit?.description}}</td>
          <td>{{x.quantity}}</td>
          <td>{{x.unit_Cost | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
          <td>{{x.tax_Rate | percent}}</td>
          <td>{{x.total_Cost | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
          <td style="cursor: pointer;"><a (click)="navToBudgetLineItemDetail(x.id)"><i class="fa fa-pen"></i> </a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
