<div class="container ShowcaseHeader">
  <app-title [componentTitle]="title"></app-title>
  <app-kpi [metrics]="KPIs"></app-kpi>
  <app-searchbar></app-searchbar>
</div>
<div class="container ShowcaseWindow">
  <table class="table" style="text-align:center;">
    <thead>
      <tr>
        <th scope="col">Portfolio</th>
        <th scope="col">Project #</th>
        <th scope="col">Project Name</th>
        <th scope="col">Budget</th>
        <th scope="col">Actuals</th>
        <th scope="col">EAC</th>
        <th scope="col">Committed</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of summaries" (click)="navToProject(x.afE_Id)" style="cursor:pointer;">
        <!-- <th scope="row">1</th> -->
        <td>{{x.portfolio}}</td>
        <td>{{x.afE_Id}}</td>
        <td>{{x.name}}</td>
        <td [ngClass]="{'alert': isBudgetExceeded(x)}">{{x.total_Budget | currency}}</td>
        <td>{{x.actuals | currency}}</td>
        <td>{{x.eac | currency}}</td>
        <td>N/A</td>
        <td style="cursor: pointer;"><i class="fa fa-pen"></i> EDIT</td>
      </tr>
    </tbody>
  </table>
</div>
